{% extends 'base.html' %}
{% block content %}
<div class="container">
    {% if messages %}
        <div class="alert-container">
            {% for message in messages %}
                {% if message.tags == 'error' %}
                    <div class="alert alert-danger alert-dismissible fade show" role="alert">
                        {{ message }}
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    {% endif %}
  <div class="form-container">
    <h2 class="title">{{ title2 }}</h2>
   
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {% for field in form %}
        <div class="form-group">
            <label for="{{ field.id_for_label }}">{{ field.label }}</label>
            {{ field }}
            {% if field.errors %}
                {% for error in field.errors %}
                    <p class="error">{{ error }}</p>
                {% endfor %}
            {% endif %}
        </div>
        {% endfor %}
        <div class="form-group">
            <input type="submit" value="Guardar" class="btn blue">
            <a href="{% url 'core:supplier_list' %}" class="btn red">Cancelar</a>
        </div>
    </form>
  </div>
</div>
{% endblock content %}
