{% extends "navbar.html" %}
{% block content %}
<div class="grid grid-cols-3 gap-4">
  {% for product in products %}
  <div class="card w-96 bg-base-100 shadow-xl mx-auto">
    <figure class="px-10 pt-10">
      <img src="{{ product.image.url }}" alt="{{ product.title }}" class="rounded-xl" />
    </figure>
    <div class="card-body items-center text-center">
      <p class="card-title">{{ product.description }}</p>
      <p class="flex items-center">
        <span class="text-green-500 mr-1">$</span>
        {{ product.price }}
      </p>
      <p class="flex items-center">
        <span class="text-green-500 mr-1">
          <i class="fas fa-tag"></i>
        </span>
        {{ product.brand }}
      </p>  
      <p class="flex items-center">
        <span class="text-green-500 mr-1">Stock: </span>
        {{ product.stock }}
      </p>
      <div class="card-actions">
        <button class="btn btn-primary add-to-cart" data-product-id="{{ product.id }}">Buy Now</button>
      </div>
    </div>
  </div>
  {% endfor %}
</div>
{% endblock %}
